body{
    background-color: aliceblue;
}
header{
    text-align: center;
    font-size: 35px;
    font-family: fantasy;
}
img{
    height: 300px;
    width: 300px;  
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#button{
    display: flex;
    justify-content: center;
}
#results{
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    visibility: hidden;
}
h1{
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
}
canvas {
    width: 75%;
    height: 500px;
  }
  #submitButton{
    font-family: fantasy;
    font-size: 25px;
    background-color: teal;
  }
  #chart{
      visibility: hidden;
  }
  #resetButton{
      visibility: hidden;
  }